#markdown-element-id > img {
    margin-bottom: 16px;
}

@keyframes clock-animation {
    0% {
        stroke-dashoffset: 471;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

.disabled-link .tooltip {
    display: none;
    position: absolute;
    width: 200px;
    left: 120%;
    top: -10px;
}
.disabled-link:hover .tooltip {
    display: block;
}
.disabled-link .tooltip p {
    color: var(--color-fg-muted);
}
