*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  
}

.container {
  width: 100%
}

@media (min-width: 640px) {
  .container {
    max-width: 640px
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px
  }
}

.pointer-events-none {
  pointer-events: none
}

.fixed {
  position: fixed
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.sticky {
  position: sticky
}

.inset-0 {
  inset: 0px
}

.inset-x-0 {
  left: 0px;
  right: 0px
}

.-left-2 {
  left: -0.5rem
}

.bottom-0 {
  bottom: 0px
}

.left-14 {
  left: 3.5rem
}

.right-1 {
  right: 0.25rem
}

.top-0 {
  top: 0px
}

.top-1 {
  top: 0.25rem
}

.top-\[55px\] {
  top: 55px
}

.z-10 {
  z-index: 10
}

.z-20 {
  z-index: 20
}

.\!my-0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important
}

.\!my-2 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem
}

.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem
}

.\!mb-0 {
  margin-bottom: 0px !important
}

.mb-0 {
  margin-bottom: 0px
}

.mb-0\.5 {
  margin-bottom: 0.125rem
}

.mb-1 {
  margin-bottom: 0.25rem
}

.mb-2 {
  margin-bottom: 0.5rem
}

.mb-96 {
  margin-bottom: 24rem
}

.ml-1 {
  margin-left: 0.25rem
}

.ml-2 {
  margin-left: 0.5rem
}

.ml-4 {
  margin-left: 1rem
}

.mr-1 {
  margin-right: 0.25rem
}

.mr-3 {
  margin-right: 0.75rem
}

.mr-4 {
  margin-right: 1rem
}

.mr-auto {
  margin-right: auto
}

.mt-1 {
  margin-top: 0.25rem
}

.mt-2 {
  margin-top: 0.5rem
}

.box-border {
  box-sizing: border-box
}

.block {
  display: block
}

.flex {
  display: flex
}

.table {
  display: table
}

.grid {
  display: grid
}

.contents {
  display: contents
}

.hidden {
  display: none
}

.h-10 {
  height: 2.5rem
}

.h-14 {
  height: 3.5rem
}

.h-2 {
  height: 0.5rem
}

.h-28 {
  height: 7rem
}

.h-5 {
  height: 1.25rem
}

.h-6 {
  height: 1.5rem
}

.h-8 {
  height: 2rem
}

.h-\[34px\] {
  height: 34px
}

.h-\[36px\] {
  height: 36px
}

.h-\[40px\] {
  height: 40px
}

.h-full {
  height: 100%
}

.h-screen {
  height: 100vh
}

.w-1 {
  width: 0.25rem
}

.w-1\.5 {
  width: 0.375rem
}

.w-10 {
  width: 2.5rem
}

.w-12 {
  width: 3rem
}

.w-2 {
  width: 0.5rem
}

.w-5 {
  width: 1.25rem
}

.w-6 {
  width: 1.5rem
}

.w-8 {
  width: 2rem
}

.w-80 {
  width: 20rem
}

.w-96 {
  width: 24rem
}

.w-full {
  width: 100%
}

.w-screen {
  width: 100vw
}

.min-w-max {
  min-width: -moz-max-content;
  min-width: max-content
}

.flex-1 {
  flex: 1 1 0%
}

.grow {
  flex-grow: 1
}

.rotate-90 {
  --tw-rotate: 90deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.cursor-pointer {
  cursor: pointer
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr))
}

.flex-row-reverse {
  flex-direction: row-reverse
}

.flex-col {
  flex-direction: column
}

.flex-col-reverse {
  flex-direction: column-reverse
}

.flex-nowrap {
  flex-wrap: nowrap
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.gap-4 {
  gap: 1rem
}

.space-y-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse))
}

.overflow-hidden {
  overflow: hidden
}

.overflow-y-auto {
  overflow-y: auto
}

.overflow-x-hidden {
  overflow-x: hidden
}

.rounded {
  border-radius: 0.25rem
}

.rounded-full {
  border-radius: 9999px
}

.rounded-md {
  border-radius: 0.375rem
}

.rounded-sm {
  border-radius: 0.125rem
}

.rounded-r-md {
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem
}

.rounded-br-md {
  border-bottom-right-radius: 0.375rem
}

.rounded-tr-md {
  border-top-right-radius: 0.375rem
}

.border {
  border-width: 1px
}

.border-b {
  border-bottom-width: 1px
}

.border-l-0 {
  border-left-width: 0px
}

.border-t {
  border-top-width: 1px
}

.border-none {
  border-style: none
}

.border-github-border-default {
  border-color: var(--color-border-default)
}

.bg-github-accent-fg {
  background-color: var(--color-accent-fg)
}

.bg-github-border-muted {
  background-color: var(--color-border-muted)
}

.bg-github-canvas-default {
  background-color: var(--color-canvas-default)
}

.bg-github-canvas-subtle {
  background-color: var(--color-canvas-subtle)
}

.bg-orange-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(234 88 12 / var(--tw-bg-opacity))
}

.fill-github-icon-directory {
  fill: var(--color-icon-directory)
}

.stroke-github-canvas-default {
  stroke: var(--color-canvas-default)
}

.stroke-github-fg-subtle {
  stroke: var(--color-fg-subtle)
}

.stroke-github-icon-directory {
  stroke: var(--color-icon-directory)
}

.stroke-github-icon-file {
  stroke: var(--color-icon-file)
}

.p-2 {
  padding: 0.5rem
}

.\!px-3 {
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem
}

.pb-56 {
  padding-bottom: 14rem
}

.pt-16 {
  padding-top: 4rem
}

.text-center {
  text-align: center
}

.text-\[15px\] {
  font-size: 15px
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.font-normal {
  font-weight: 400
}

.font-semibold {
  font-weight: 600
}

.uppercase {
  text-transform: uppercase
}

.lowercase {
  text-transform: lowercase
}

.text-github-accent-fg {
  color: var(--color-accent-fg)
}

.text-github-fg-subtle {
  color: var(--color-fg-subtle)
}

.underline {
  text-decoration-line: underline
}

.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.blur {
  --tw-blur: blur(8px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.ease-out {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1)
}

.hover\:bg-github-border-default:hover {
  background-color: var(--color-border-default)
}

.hover\:bg-github-canvas-subtle:hover {
  background-color: var(--color-canvas-subtle)
}

.hover\:underline:hover {
  text-decoration-line: underline
}

.group:hover .group-hover\:text-github-accent-fg {
  color: var(--color-accent-fg)
}

.group:hover .group-hover\:underline {
  text-decoration-line: underline
}

.\[\&\>span\]\:cursor-pointer>span {
  cursor: pointer
}