.copy-button-container {
    position: relative;
    left: calc(100% - 36px);
    top: 5px;
    height: 0;
}
.markdown-it-copy-block {
    cursor: pointer;
    height: 30px;
    width: 30px;
    padding: 0;
    background: var(--color-btn-bg);
    border: 1px solid var(--color-btn-border);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.markdown-it-copy-block:hover {
    background: var(--color-btn-hover-bg);
}
.copied {
    top: 0;
    right: calc(100% + 10px);
    pointer-events: none;
    position: absolute;
    display: none;
    color: green;
    font-size: 0.9rem;
}
/* * https://github.com/sindresorhus/generate-github-markdown-css */
.github-styles.dark {
    color-scheme: dark;
    --color-fg-default: #e6edf3;
    --color-fg-muted: #7d8590;
    --color-fg-subtle: #6e7681;
    --color-canvas-default: #0d1117;
    --color-canvas-subtle: #161b22;
    --color-border-default: #30363d;
    --color-border-muted: #21262d;
    --color-neutral-muted: rgba(110, 118, 129, 0.4);
    --color-accent-fg: #2f81f7;
    --color-accent-emphasis: #1f6feb;
    --color-attention-subtle: rgba(187, 128, 9, 0.15);
    --color-attention-muted: rgba(187, 128, 9, 0.4);
    --color-danger-fg: #f85149;
    --color-icon-directory: #7d8590;
    --color-icon-file: #7d8590;
    --color-btn-bg: #21262d;
    --color-btn-border: rgba(240, 246, 252, 0.1);
    --color-btn-hover-bg: #30363d;
    /*! https://github.com/highlightjs/highlight.js/blob/main/src/styles/github-dark.css */
}
.github-styles.dark .hljs {
    color: #c9d1d9;
}
.github-styles.dark .hljs-doctag,
.github-styles.dark .hljs-keyword,
.github-styles.dark .hljs-meta .hljs-keyword,
.github-styles.dark .hljs-template-tag,
.github-styles.dark .hljs-template-variable,
.github-styles.dark .hljs-type,
.github-styles.dark .hljs-variable.language_ {
    /* prettylights-syntax-keyword */
    color: #ff7b72;
}
.github-styles.dark .hljs-title,
.github-styles.dark .hljs-title.class_,
.github-styles.dark .hljs-title.class_.inherited__,
.github-styles.dark .hljs-title.function_ {
    /* prettylights-syntax-entity */
    color: #d2a8ff;
}
.github-styles.dark .hljs-attr,
.github-styles.dark .hljs-attribute,
.github-styles.dark .hljs-literal,
.github-styles.dark .hljs-meta,
.github-styles.dark .hljs-number,
.github-styles.dark .hljs-operator,
.github-styles.dark .hljs-variable,
.github-styles.dark .hljs-selector-attr,
.github-styles.dark .hljs-selector-class,
.github-styles.dark .hljs-selector-id {
    /* prettylights-syntax-constant */
    color: #79c0ff;
}
.github-styles.dark .hljs-regexp,
.github-styles.dark .hljs-string,
.github-styles.dark .hljs-meta .hljs-string {
    /* prettylights-syntax-string */
    color: #a5d6ff;
}
.github-styles.dark .hljs-built_in,
.github-styles.dark .hljs-symbol {
    /* prettylights-syntax-variable */
    color: #ffa657;
}
.github-styles.dark .hljs-comment,
.github-styles.dark .hljs-code,
.github-styles.dark .hljs-formula {
    /* prettylights-syntax-comment */
    color: #8b949e;
}
.github-styles.dark .hljs-name,
.github-styles.dark .hljs-quote,
.github-styles.dark .hljs-selector-tag,
.github-styles.dark .hljs-selector-pseudo {
    /* prettylights-syntax-entity-tag */
    color: #7ee787;
}
.github-styles.dark .hljs-subst {
    /* prettylights-syntax-storage-modifier-import */
    color: #c9d1d9;
}
.github-styles.dark .hljs-section {
    /* prettylights-syntax-markup-heading */
    color: #1f6feb;
    font-weight: bold;
}
.github-styles.dark .hljs-bullet {
    /* prettylights-syntax-markup-list */
    color: #f2cc60;
}
.github-styles.dark .hljs-emphasis {
    /* prettylights-syntax-markup-italic */
    color: #c9d1d9;
    font-style: italic;
}
.github-styles.dark .hljs-strong {
    /* prettylights-syntax-markup-bold */
    color: #c9d1d9;
    font-weight: bold;
}
.github-styles.dark .hljs-addition {
    /* prettylights-syntax-markup-inserted */
    color: #aff5b4;
    background-color: #033a16;
}
.github-styles.dark .hljs-deletion {
    /* prettylights-syntax-markup-deleted */
    color: #ffdcd7;
    background-color: #67060c;
}
.github-styles.dark .hljs-char.escape_,
.github-styles.dark .hljs-link,
.github-styles.dark .hljs-params,
.github-styles.dark .hljs-property,
.github-styles.dark .hljs-punctuation,
.github-styles.dark .hljs-tag {
    /* purposely ignored */
}
.github-styles.light {
    color-scheme: light;
    --color-fg-default: #1f2328;
    --color-fg-muted: #656d76;
    --color-fg-subtle: #6e7781;
    --color-canvas-default: #fff;
    --color-canvas-subtle: #f6f8fa;
    --color-border-default: #d0d7de;
    --color-border-muted: rgba(216, 222, 228, 1);
    --color-neutral-muted: rgba(175, 184, 193, 0.2);
    --color-accent-fg: #0969da;
    --color-accent-emphasis: #0969da;
    --color-attention-subtle: #fff8c5;
    --color-attention-muted: rgba(212, 167, 44, 0.4);
    --color-danger-fg: #d1242f;
    --color-icon-directory: #54aeff;
    --color-icon-file: #656d76;
    --color-btn-bg: #f6f8fa;
    --color-btn-border: rgba(31, 35, 40, 0.15);
    --color-btn-hover-bg: #f3f4f6;
    /*! https://github.com/highlightjs/highlight.js/blob/main/src/styles/github.css */
}
.github-styles.light .hljs {
    color: #24292e;
}
.github-styles.light .hljs-doctag,
.github-styles.light .hljs-keyword,
.github-styles.light .hljs-meta .hljs-keyword,
.github-styles.light .hljs-template-tag,
.github-styles.light .hljs-template-variable,
.github-styles.light .hljs-type,
.github-styles.light .hljs-variable.language_ {
    /* prettylights-syntax-keyword */
    color: #d73a49;
}
.github-styles.light .hljs-title,
.github-styles.light .hljs-title.class_,
.github-styles.light .hljs-title.class_.inherited__,
.github-styles.light .hljs-title.function_ {
    /* prettylights-syntax-entity */
    color: #6f42c1;
}
.github-styles.light .hljs-attr,
.github-styles.light .hljs-attribute,
.github-styles.light .hljs-literal,
.github-styles.light .hljs-meta,
.github-styles.light .hljs-number,
.github-styles.light .hljs-operator,
.github-styles.light .hljs-variable,
.github-styles.light .hljs-selector-attr,
.github-styles.light .hljs-selector-class,
.github-styles.light .hljs-selector-id {
    /* prettylights-syntax-constant */
    color: #005cc5;
}
.github-styles.light .hljs-regexp,
.github-styles.light .hljs-string,
.github-styles.light .hljs-meta .hljs-string {
    /* prettylights-syntax-string */
    color: #032f62;
}
.github-styles.light .hljs-built_in,
.github-styles.light .hljs-symbol {
    /* prettylights-syntax-variable */
    color: #e36209;
}
.github-styles.light .hljs-comment,
.github-styles.light .hljs-code,
.github-styles.light .hljs-formula {
    /* prettylights-syntax-comment */
    color: #6a737d;
}
.github-styles.light .hljs-name,
.github-styles.light .hljs-quote,
.github-styles.light .hljs-selector-tag,
.github-styles.light .hljs-selector-pseudo {
    /* prettylights-syntax-entity-tag */
    color: #22863a;
}
.github-styles.light .hljs-subst {
    /* prettylights-syntax-storage-modifier-import */
    color: #24292e;
}
.github-styles.light .hljs-section {
    /* prettylights-syntax-markup-heading */
    color: #005cc5;
    font-weight: bold;
}
.github-styles.light .hljs-bullet {
    /* prettylights-syntax-markup-list */
    color: #735c0f;
}
.github-styles.light .hljs-emphasis {
    /* prettylights-syntax-markup-italic */
    color: #24292e;
    font-style: italic;
}
.github-styles.light .hljs-strong {
    /* prettylights-syntax-markup-bold */
    color: #24292e;
    font-weight: bold;
}
.github-styles.light .hljs-addition {
    /* prettylights-syntax-markup-inserted */
    color: #22863a;
    background-color: #f0fff4;
}
.github-styles.light .hljs-deletion {
    /* prettylights-syntax-markup-deleted */
    color: #b31d28;
    background-color: #ffeef0;
}
.github-styles.light .hljs-char.escape_,
.github-styles.light .hljs-link,
.github-styles.light .hljs-params,
.github-styles.light .hljs-property,
.github-styles.light .hljs-punctuation,
.github-styles.light .hljs-tag {
    /* purposely ignored */
}
.github-styles {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    color: var(--fgColor-default, var(--color-fg-default));
    background-color: var(--bgColor-default, var(--color-canvas-default));
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
}
.github-styles .octicon {
    display: inline-block;
    fill: currentColor;
    vertical-align: text-bottom;
}
.github-styles h1:hover .anchor .octicon-link:before,
.github-styles h2:hover .anchor .octicon-link:before,
.github-styles h3:hover .anchor .octicon-link:before,
.github-styles h4:hover .anchor .octicon-link:before,
.github-styles h5:hover .anchor .octicon-link:before,
.github-styles h6:hover .anchor .octicon-link:before {
    width: 16px;
    height: 16px;
    content: " ";
    display: inline-block;
    background-color: currentColor;
    -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
    mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
}
.github-styles details,
.github-styles figcaption,
.github-styles figure {
    display: block;
}
.github-styles summary {
    display: list-item;
}
.github-styles [hidden] {
    display: none !important;
}
.github-styles a {
    background-color: transparent;
    color: var(--fgColor-accent, var(--color-accent-fg));
    text-decoration: none;
}
.github-styles abbr[title] {
    border-bottom: none;
    text-decoration: underline dotted;
}
.github-styles b,
.github-styles strong {
    font-weight: var(--base-text-weight-semibold, 600);
}
.github-styles dfn {
    font-style: italic;
}
.github-styles h1 {
    margin: 0.67em 0;
    font-weight: var(--base-text-weight-semibold, 600);
    padding-bottom: 0.3em;
    font-size: 2em;
    border-bottom: 1px solid var(--borderColor-muted, var(--color-border-muted));
}
.github-styles mark {
    background-color: var(--bgColor-attention-muted, var(--color-attention-subtle));
    color: var(--fgColor-default, var(--color-fg-default));
}
.github-styles small {
    font-size: 90%;
}
.github-styles sub,
.github-styles sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
.github-styles sub {
    bottom: -0.25em;
}
.github-styles sup {
    top: -0.5em;
}
.github-styles img {
    border-style: none;
    max-width: 100%;
    box-sizing: content-box;
    background-color: var(--bgColor-default, var(--color-canvas-default));
}
.github-styles code,
.github-styles kbd,
.github-styles pre,
.github-styles samp {
    font-family: monospace;
    font-size: 1em;
}
.github-styles figure {
    margin: 1em 40px;
}
.github-styles hr {
    box-sizing: content-box;
    overflow: hidden;
    background: transparent;
    border-bottom: 1px solid var(--borderColor-muted, var(--color-border-muted));
    height: 0.25em;
    padding: 0;
    margin: 24px 0;
    background-color: var(--borderColor-default, var(--color-border-default));
    border: 0;
}
.github-styles input {
    font: inherit;
    margin: 0;
    overflow: visible;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.github-styles [type="button"],
.github-styles [type="reset"],
.github-styles [type="submit"] {
    -webkit-appearance: button;
    appearance: button;
}
.github-styles [type="checkbox"],
.github-styles [type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
.github-styles [type="number"]::-webkit-inner-spin-button,
.github-styles [type="number"]::-webkit-outer-spin-button {
    height: auto;
}
.github-styles [type="search"]::-webkit-search-cancel-button,
.github-styles [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
.github-styles ::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54;
}
.github-styles ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}
.github-styles a:hover {
    text-decoration: underline;
}
.github-styles ::placeholder {
    color: var(--fgColor-muted, var(--color-fg-subtle));
    opacity: 1;
}
.github-styles hr::before {
    display: table;
    content: "";
}
.github-styles hr::after {
    display: table;
    clear: both;
    content: "";
}
.github-styles table {
    border-spacing: 0;
    border-collapse: collapse;
    display: block;
    width: max-content;
    max-width: 100%;
    overflow: auto;
}
.github-styles td,
.github-styles th {
    padding: 0;
}
.github-styles details summary {
    cursor: pointer;
}
.github-styles details:not([open]) > *:not(summary) {
    display: none !important;
}
.github-styles a:focus,
.github-styles [role="button"]:focus,
.github-styles input[type="radio"]:focus,
.github-styles input[type="checkbox"]:focus {
    outline: 2px solid var(--focus-outlineColor, var(--color-accent-fg));
    outline-offset: -2px;
    box-shadow: none;
}
.github-styles a:focus:not(:focus-visible),
.github-styles [role="button"]:focus:not(:focus-visible),
.github-styles input[type="radio"]:focus:not(:focus-visible),
.github-styles input[type="checkbox"]:focus:not(:focus-visible) {
    outline: solid 1px transparent;
}
.github-styles a:focus-visible,
.github-styles [role="button"]:focus-visible,
.github-styles input[type="radio"]:focus-visible,
.github-styles input[type="checkbox"]:focus-visible {
    outline: 2px solid var(--focus-outlineColor, var(--color-accent-fg));
    outline-offset: -2px;
    box-shadow: none;
}
.github-styles a:not([class]):focus,
.github-styles a:not([class]):focus-visible,
.github-styles input[type="radio"]:focus,
.github-styles input[type="radio"]:focus-visible,
.github-styles input[type="checkbox"]:focus,
.github-styles input[type="checkbox"]:focus-visible {
    outline-offset: 0;
}
.github-styles kbd {
    display: inline-block;
    padding: 3px 5px;
    font:
        11px ui-monospace,
        SFMono-Regular,
        SF Mono,
        Menlo,
        Consolas,
        Liberation Mono,
        monospace;
    line-height: 10px;
    color: var(--fgColor-default, var(--color-fg-default));
    vertical-align: middle;
    background-color: var(--bgColor-muted, var(--color-canvas-subtle));
    border: solid 1px var(--borderColor-neutral-muted, var(--color-neutral-muted));
    border-bottom-color: var(--borderColor-neutral-muted, var(--color-neutral-muted));
    border-radius: 6px;
    box-shadow: inset 0 -1px 0 var(--borderColor-neutral-muted, var(--color-neutral-muted));
}
.github-styles h1,
.github-styles h2,
.github-styles h3,
.github-styles h4,
.github-styles h5,
.github-styles h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: var(--base-text-weight-semibold, 600);
    line-height: 1.25;
}
.github-styles h2 {
    font-weight: var(--base-text-weight-semibold, 600);
    padding-bottom: 0.3em;
    font-size: 1.5em;
    border-bottom: 1px solid var(--borderColor-muted, var(--color-border-muted));
}
.github-styles h3 {
    font-weight: var(--base-text-weight-semibold, 600);
    font-size: 1.25em;
}
.github-styles h4 {
    font-weight: var(--base-text-weight-semibold, 600);
    font-size: 1em;
}
.github-styles h5 {
    font-weight: var(--base-text-weight-semibold, 600);
    font-size: 0.875em;
}
.github-styles h6 {
    font-weight: var(--base-text-weight-semibold, 600);
    font-size: 0.85em;
    color: var(--fgColor-muted, var(--color-fg-muted));
}
.github-styles p {
    margin-top: 0;
    margin-bottom: 10px;
}
.github-styles blockquote {
    margin: 0;
    padding: 0 1em;
    color: var(--fgColor-muted, var(--color-fg-muted));
    border-left: 0.25em solid var(--borderColor-default, var(--color-border-default));
}
.github-styles ul,
.github-styles ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 2em;
}
.github-styles ol ol,
.github-styles ul ol {
    list-style-type: lower-roman;
}
.github-styles ul ul ol,
.github-styles ul ol ol,
.github-styles ol ul ol,
.github-styles ol ol ol {
    list-style-type: lower-alpha;
}
.github-styles dd {
    margin-left: 0;
}
.github-styles tt,
.github-styles code,
.github-styles samp {
    font-family:
        ui-monospace,
        SFMono-Regular,
        SF Mono,
        Menlo,
        Consolas,
        Liberation Mono,
        monospace;
    font-size: 12px;
}
.github-styles pre {
    margin-top: 0;
    margin-bottom: 0;
    font-family:
        ui-monospace,
        SFMono-Regular,
        SF Mono,
        Menlo,
        Consolas,
        Liberation Mono,
        monospace;
    font-size: 12px;
    word-wrap: normal;
}
.github-styles .octicon {
    display: inline-block;
    overflow: visible !important;
    vertical-align: text-bottom;
    fill: currentColor;
}
.github-styles input::-webkit-outer-spin-button,
.github-styles input::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
    appearance: none;
}
.github-styles::before {
    display: table;
    content: "";
}
.github-styles::after {
    display: table;
    clear: both;
    content: "";
}
.github-styles > *:first-child {
    margin-top: 0 !important;
}
.github-styles > *:last-child {
    margin-bottom: 0 !important;
}
.github-styles a:not([href]) {
    color: inherit;
    text-decoration: none;
}
.github-styles .absent {
    color: var(--fgColor-danger, var(--color-danger-fg));
}
.github-styles .anchor {
    float: left;
    padding-right: 4px;
    margin-left: -20px;
    line-height: 1;
}
.github-styles .anchor:focus {
    outline: none;
}
.github-styles p,
.github-styles blockquote,
.github-styles ul,
.github-styles ol,
.github-styles dl,
.github-styles table,
.github-styles pre,
.github-styles details {
    margin-top: 0;
    margin-bottom: 16px;
}
.github-styles blockquote > :first-child {
    margin-top: 0;
}
.github-styles blockquote > :last-child {
    margin-bottom: 0;
}
.github-styles h1 .octicon-link,
.github-styles h2 .octicon-link,
.github-styles h3 .octicon-link,
.github-styles h4 .octicon-link,
.github-styles h5 .octicon-link,
.github-styles h6 .octicon-link {
    color: var(--fgColor-default, var(--color-fg-default));
    vertical-align: middle;
    visibility: hidden;
}
.github-styles h1:hover .anchor,
.github-styles h2:hover .anchor,
.github-styles h3:hover .anchor,
.github-styles h4:hover .anchor,
.github-styles h5:hover .anchor,
.github-styles h6:hover .anchor {
    text-decoration: none;
}
.github-styles h1:hover .anchor .octicon-link,
.github-styles h2:hover .anchor .octicon-link,
.github-styles h3:hover .anchor .octicon-link,
.github-styles h4:hover .anchor .octicon-link,
.github-styles h5:hover .anchor .octicon-link,
.github-styles h6:hover .anchor .octicon-link {
    visibility: visible;
}
.github-styles h1 tt,
.github-styles h1 code,
.github-styles h2 tt,
.github-styles h2 code,
.github-styles h3 tt,
.github-styles h3 code,
.github-styles h4 tt,
.github-styles h4 code,
.github-styles h5 tt,
.github-styles h5 code,
.github-styles h6 tt,
.github-styles h6 code {
    padding: 0 0.2em;
    font-size: inherit;
}
.github-styles summary h1,
.github-styles summary h2,
.github-styles summary h3,
.github-styles summary h4,
.github-styles summary h5,
.github-styles summary h6 {
    display: inline-block;
}
.github-styles summary h1 .anchor,
.github-styles summary h2 .anchor,
.github-styles summary h3 .anchor,
.github-styles summary h4 .anchor,
.github-styles summary h5 .anchor,
.github-styles summary h6 .anchor {
    margin-left: -40px;
}
.github-styles summary h1,
.github-styles summary h2 {
    padding-bottom: 0;
    border-bottom: 0;
}
.github-styles ul.no-list,
.github-styles ol.no-list {
    padding: 0;
    list-style-type: none;
}
.github-styles ol[type="a s"] {
    list-style-type: lower-alpha;
}
.github-styles ol[type="A s"] {
    list-style-type: upper-alpha;
}
.github-styles ol[type="i s"] {
    list-style-type: lower-roman;
}
.github-styles ol[type="I s"] {
    list-style-type: upper-roman;
}
.github-styles ol[type="1"] {
    list-style-type: decimal;
}
.github-styles div > ol:not([type]) {
    list-style-type: decimal;
}
.github-styles ul ul,
.github-styles ul ol,
.github-styles ol ol,
.github-styles ol ul {
    margin-top: 0;
    margin-bottom: 0;
}
.github-styles li > p {
    margin-top: 16px;
}
.github-styles li + li {
    margin-top: 0.25em;
}
.github-styles dl {
    padding: 0;
}
.github-styles dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: var(--base-text-weight-semibold, 600);
}
.github-styles dl dd {
    padding: 0 16px;
    margin-bottom: 16px;
}
.github-styles table th {
    font-weight: var(--base-text-weight-semibold, 600);
}
.github-styles table th,
.github-styles table td {
    padding: 6px 13px;
    border: 1px solid var(--borderColor-default, var(--color-border-default));
}
.github-styles table td > :last-child {
    margin-bottom: 0;
}
.github-styles table tr {
    background-color: var(--bgColor-default, var(--color-canvas-default));
    border-top: 1px solid var(--borderColor-muted, var(--color-border-muted));
}
.github-styles table tr:nth-child(2n) {
    background-color: var(--bgColor-muted, var(--color-canvas-subtle));
}
.github-styles table img {
    background-color: transparent;
}
.github-styles img[align="right"] {
    padding-left: 20px;
}
.github-styles img[align="left"] {
    padding-right: 20px;
}
.github-styles .emoji {
    max-width: none;
    vertical-align: text-top;
    background-color: transparent;
}
.github-styles span.frame {
    display: block;
    overflow: hidden;
}
.github-styles span.frame > span {
    display: block;
    float: left;
    width: auto;
    padding: 7px;
    margin: 13px 0 0;
    overflow: hidden;
    border: 1px solid var(--borderColor-default, var(--color-border-default));
}
.github-styles span.frame span img {
    display: block;
    float: left;
}
.github-styles span.frame span span {
    display: block;
    padding: 5px 0 0;
    clear: both;
    color: var(--fgColor-default, var(--color-fg-default));
}
.github-styles span.align-center {
    display: block;
    overflow: hidden;
    clear: both;
}
.github-styles span.align-center > span {
    display: block;
    margin: 13px auto 0;
    overflow: hidden;
    text-align: center;
}
.github-styles span.align-center span img {
    margin: 0 auto;
    text-align: center;
}
.github-styles span.align-right {
    display: block;
    overflow: hidden;
    clear: both;
}
.github-styles span.align-right > span {
    display: block;
    margin: 13px 0 0;
    overflow: hidden;
    text-align: right;
}
.github-styles span.align-right span img {
    margin: 0;
    text-align: right;
}
.github-styles span.float-left {
    display: block;
    float: left;
    margin-right: 13px;
    overflow: hidden;
}
.github-styles span.float-left span {
    margin: 13px 0 0;
}
.github-styles span.float-right {
    display: block;
    float: right;
    margin-left: 13px;
    overflow: hidden;
}
.github-styles span.float-right > span {
    display: block;
    margin: 13px auto 0;
    overflow: hidden;
    text-align: right;
}
.github-styles code,
.github-styles tt {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    white-space: break-spaces;
    background-color: var(--bgColor-neutral-muted, var(--color-neutral-muted));
    border-radius: 6px;
}
.github-styles code br,
.github-styles tt br {
    display: none;
}
.github-styles del code {
    text-decoration: inherit;
}
.github-styles samp {
    font-size: 85%;
}
.github-styles pre code {
    font-size: 100%;
}
.github-styles pre > code {
    padding: 0;
    margin: 0;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
}
.github-styles .highlight {
    margin-bottom: 16px;
}
.github-styles .highlight pre {
    margin-bottom: 0;
    word-break: normal;
}
.github-styles .highlight pre,
.github-styles pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    color: var(--fgColor-default, var(--color-fg-default));
    background-color: var(--bgColor-muted, var(--color-canvas-subtle));
    border-radius: 6px;
}
.github-styles pre code,
.github-styles pre tt {
    display: inline;
    max-width: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
}
.github-styles .csv-data td,
.github-styles .csv-data th {
    padding: 5px;
    overflow: hidden;
    font-size: 12px;
    line-height: 1;
    text-align: left;
    white-space: nowrap;
}
.github-styles .csv-data .blob-num {
    padding: 10px 8px 9px;
    text-align: right;
    background: var(--bgColor-default, var(--color-canvas-default));
    border: 0;
}
.github-styles .csv-data tr {
    border-top: 0;
}
.github-styles .csv-data th {
    font-weight: var(--base-text-weight-semibold, 600);
    background: var(--bgColor-muted, var(--color-canvas-subtle));
    border-top: 0;
}
.github-styles [data-footnote-ref]::before {
    content: "[";
}
.github-styles [data-footnote-ref]::after {
    content: "]";
}
.github-styles .footnotes {
    font-size: 12px;
    color: var(--fgColor-muted, var(--color-fg-muted));
    border-top: 1px solid var(--borderColor-default, var(--color-border-default));
}
.github-styles .footnotes ol {
    padding-left: 16px;
}
.github-styles .footnotes ol ul {
    display: inline-block;
    padding-left: 16px;
    margin-top: 16px;
}
.github-styles .footnotes li {
    position: relative;
}
.github-styles .footnotes li:target::before {
    position: absolute;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -24px;
    pointer-events: none;
    content: "";
    border: 2px solid var(--borderColor-accent-emphasis, var(--color-accent-emphasis));
    border-radius: 6px;
}
.github-styles .footnotes li:target {
    color: var(--fgColor-default, var(--color-fg-default));
}
.github-styles .footnotes .data-footnote-backref g-emoji {
    font-family: monospace;
}
.github-styles [popover] {
    background-color: canvas;
    border: initial solid;
    border-color: initial;
    border-image: initial;
    color: initial;
    height: fit-content;
    inset: 0;
    margin: auto;
    overflow: auto;
    padding: 0.25em;
    position: fixed;
    width: fit-content;
    z-index: 2147483647;
}
.github-styles [popover]:not(.\:popover-open) {
    display: none;
}
.github-styles [popover]:is(dialog[open]) {
    display: revert;
}
.github-styles [anchor].\:popover-open {
    inset: auto;
}
.github-styles .pl-c {
    color: var(--color-prettylights-syntax-comment);
}
.github-styles .pl-c1,
.github-styles .pl-s .pl-v {
    color: var(--color-prettylights-syntax-constant);
}
.github-styles .pl-e,
.github-styles .pl-en {
    color: var(--color-prettylights-syntax-entity);
}
.github-styles .pl-smi,
.github-styles .pl-s .pl-s1 {
    color: var(--color-prettylights-syntax-storage-modifier-import);
}
.github-styles .pl-ent {
    color: var(--color-prettylights-syntax-entity-tag);
}
.github-styles .pl-k {
    color: var(--color-prettylights-syntax-keyword);
}
.github-styles .pl-s,
.github-styles .pl-pds,
.github-styles .pl-s .pl-pse .pl-s1,
.github-styles .pl-sr,
.github-styles .pl-sr .pl-cce,
.github-styles .pl-sr .pl-sre,
.github-styles .pl-sr .pl-sra {
    color: var(--color-prettylights-syntax-string);
}
.github-styles .pl-v,
.github-styles .pl-smw {
    color: var(--color-prettylights-syntax-variable);
}
.github-styles .pl-bu {
    color: var(--color-prettylights-syntax-brackethighlighter-unmatched);
}
.github-styles .pl-ii {
    color: var(--color-prettylights-syntax-invalid-illegal-text);
    background-color: var(--color-prettylights-syntax-invalid-illegal-bg);
}
.github-styles .pl-c2 {
    color: var(--color-prettylights-syntax-carriage-return-text);
    background-color: var(--color-prettylights-syntax-carriage-return-bg);
}
.github-styles .pl-sr .pl-cce {
    font-weight: bold;
    color: var(--color-prettylights-syntax-string-regexp);
}
.github-styles .pl-ml {
    color: var(--color-prettylights-syntax-markup-list);
}
.github-styles .pl-mh,
.github-styles .pl-mh .pl-en,
.github-styles .pl-ms {
    font-weight: bold;
    color: var(--color-prettylights-syntax-markup-heading);
}
.github-styles .pl-mi {
    font-style: italic;
    color: var(--color-prettylights-syntax-markup-italic);
}
.github-styles .pl-mb {
    font-weight: bold;
    color: var(--color-prettylights-syntax-markup-bold);
}
.github-styles .pl-md {
    color: var(--color-prettylights-syntax-markup-deleted-text);
    background-color: var(--color-prettylights-syntax-markup-deleted-bg);
}
.github-styles .pl-mi1 {
    color: var(--color-prettylights-syntax-markup-inserted-text);
    background-color: var(--color-prettylights-syntax-markup-inserted-bg);
}
.github-styles .pl-mc {
    color: var(--color-prettylights-syntax-markup-changed-text);
    background-color: var(--color-prettylights-syntax-markup-changed-bg);
}
.github-styles .pl-mi2 {
    color: var(--color-prettylights-syntax-markup-ignored-text);
    background-color: var(--color-prettylights-syntax-markup-ignored-bg);
}
.github-styles .pl-mdr {
    font-weight: bold;
    color: var(--color-prettylights-syntax-meta-diff-range);
}
.github-styles .pl-ba {
    color: var(--color-prettylights-syntax-brackethighlighter-angle);
}
.github-styles .pl-sg {
    color: var(--color-prettylights-syntax-sublimelinter-gutter-mark);
}
.github-styles .pl-corl {
    text-decoration: underline;
    color: var(--color-prettylights-syntax-constant-other-reference-link);
}
.github-styles g-emoji {
    display: inline-block;
    min-width: 1ch;
    font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1em;
    font-style: normal !important;
    font-weight: var(--base-text-weight-normal, 400);
    line-height: 1;
    vertical-align: -0.075em;
}
.github-styles g-emoji img {
    width: 1em;
    height: 1em;
}
.github-styles .task-list-item {
    list-style-type: none;
}
.github-styles .task-list-item label {
    font-weight: var(--base-text-weight-normal, 400);
}
.github-styles .task-list-item.enabled label {
    cursor: pointer;
}
.github-styles .task-list-item + .task-list-item {
    margin-top: 4px;
}
.github-styles .task-list-item .handle {
    display: none;
}
.github-styles .task-list-item-checkbox {
    margin: 0 0.2em 0.25em -1.4em;
    vertical-align: middle;
}
.github-styles .contains-task-list:dir(rtl) .task-list-item-checkbox {
    margin: 0 -1.6em 0.25em 0.2em;
}
.github-styles .contains-task-list {
    position: relative;
}
.github-styles .contains-task-list:hover .task-list-item-convert-container,
.github-styles .contains-task-list:focus-within .task-list-item-convert-container {
    display: block;
    width: auto;
    height: 24px;
    overflow: visible;
    clip: auto;
}
.github-styles .QueryBuilder .qb-entity {
    color: var(--color-prettylights-syntax-entity);
}
.github-styles .QueryBuilder .qb-constant {
    color: var(--color-prettylights-syntax-constant);
}
.github-styles ::-webkit-calendar-picker-indicator {
    filter: invert(50%);
}
